<div class="form-overlay">
    <div class="form-container">
        <h2>{{ task ? 'Editar Tarea' : 'Agregar Nueva Tarea' }}</h2>


        <div class="form-group">
            <label>Título</label>
            <input type="text" [(ngModel)]="titulo" placeholder="Escribe el título..." />
        </div>

        <div class="form-group">
            <label>Descripción</label>
            <textarea [(ngModel)]="descripcion" placeholder="Escribe la descripción..."></textarea>
        </div>

        <div class="form-group">
            <label>Fecha de creación:</label>
            <input type="text" [value]="fechaActual" disabled />
        </div>

        <div class="form-actions">
            <button class="btn-cancel" (click)="cancel()">Cancelar</button>
            <button class="btn-save" (click)="save()">Guardar</button>
        </div>
    </div>
</div>