<div class="header-container">
    <button class="btn-add" (click)="openForm()">+ Nueva Tarea</button>

    <app-task-form *ngIf="showForm" [task]="selectedTask" (close)="closeForm()">
    </app-task-form>

    <!-- Modal de confirmación -->
    <div class="modal-overlay" *ngIf="showDeleteModal">
        <div class="modal-box">
            <div class="modal-icon">?</div>
            <p>¿Estás seguro(a) de eliminar esta tarea?</p>
            <div class="modal-actions">
                <button class="btn-confirm-delete" (click)="confirmDelete()">Eliminar</button>
                <button class="btn-confirm-cancel" (click)="cancelDelete()">Cancelar</button>
            </div>
        </div>
    </div>

    <div *ngIf="tasks.length === 0" class="empty">
        <p>No hay tareas aún. ¡Crea una!</p>
    </div>

    <div class="task-card" *ngFor="let task of tasks">
        <div class="task-header">
            <h3 [class.completada]="task.completada">{{ task.titulo }}</h3>
            <span class="badge" [class.done]="task.completada">
                {{ task.completada ? 'Completada' : 'Pendiente' }}
            </span>
        </div>
        <p>{{ task.descripcion }}</p>
        <small>{{ task.fechaCreacion | date:'dd/MM/yyyy' }}</small>
        <div class="task-actions">
            <button class="btn-complete" (click)="toggleComplete(task)">
                {{ task.completada ? '↩ Pendiente' : '✔ Completar' }}
            </button>
            <button class="btn-edit" (click)="openForm(task)">✏ Editar</button>
            <button class="btn-delete" (click)="deleteTask(task.id)">🗑 Eliminar</button>
        </div>
    </div>
</div>